html { /* This affects whole page's background color*/
    background-color: rgb(245, 239, 230);
}

h1 {
    color: rgb(120, 149, 178);
}

h2 { /* h2 is shifted 20px right, so it looks like subsections in google documents.*/
    color: rgb(92, 46, 126);
    margin-left: 20px;
}

p {
    color: black;
    margin-left: 40px;
  }

.grid { /* Image gallery display */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
  }