html { /* This affects whole page's background color*/
    background-color: rgb(245, 239, 230);
}

h1 {
    color: rgb(120, 149, 178);
}

h2 { /* h2 is shifted 20px right, so it looks like subsections in google documents.*/
    color: rgb(92, 46, 126);
    margin-left: 20px;
}

.underline {
    text-decoration: underline;
}
.block {
    border: 2px solid blue;
    display: inline-block;
    padding: .5em;
}

p { /* Basic text comment */
    color: black;
    margin-left: 40px;
  }

.grid { /* Image gallery display */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: start;
}
.grid img { /* Set size limit for images */
    width: 250px;
    height: 250px;
  }

a:hover {
    color: yellowgreen;
}

@font-face { /* https://fonts.google.com/specimen/Fuzzy+Bubbles */
    font-family: 'FuzzyBubblesBold';
    src: url('fonts/FuzzyBubblesBold.eot');
    src: url('fonts/FuzzyBubblesBold.eot') format('embedded-opentype'),
         url('fonts/FuzzyBubblesBold.woff2') format('woff2'),
         url('fonts/FuzzyBubblesBold.woff') format('woff'),
         url('fonts/FuzzyBubblesBold.ttf') format('truetype'),
         url('fonts/FuzzyBubblesBold.svg#FuzzyBubblesBold') format('svg');
}
.font_fuzzy {
    font-family: "FuzzyBubblesBold", serif;
}